<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwimonacs.computingsociety">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".activities.CreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar.CreateAccount">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" android:theme="@style/AppTheme.NoActionBar.Login">
            <intent-filter>
                <action android:name="andrid.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />


        <!-- DB Name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="compsoc.db" />

        <!-- DB Version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <!-- Models -->
        <meta-data
            android:name="AA_MODELS"
            android:value="" />
    </application>

</manifest>